<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>MNA</title>

    <!-- Bootstrap -->
    <link href="public/css/bootstrap.min.css" rel="stylesheet">
    <link href="public/css/main.css" rel="stylesheet">
    <link href="public/css/spinner.css" rel="stylesheet">
    <!--<link href="public/css/bootstrap-theme.min.css" rel="stylesheet">-->

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <header class="jumbotron">
      <h1>MNA</h1>
    </header>
    <div class="container">
      <nav class="row">
        <div class="col-md-12">
          <ul class="nav nav-tabs">
            <li class="active"><a href="#hn" data-toggle="tab">Hacker News</a></li>
            <li><a href="#echojs" data-toggle="tab">EchoJS</a></li>
            <li><a href="#reddit-js" data-toggle="tab">Reddit /r/javascript</a></li>
            <li><a href="#reddit-node" data-toggle="tab">Reddit /r/node</a></li>
          </ul>
        </div>
      </nav>
      <section class="row">
        <div class="col-md-12 tab-content">
          <div class="tab-pane active" id="hn">
          </div>
          <div class="tab-pane" id="echojs">
          </div>
          <div class="tab-pane" id="reddit-js">
          </div>
          <div class="tab-pane" id="reddit-node">
          </div>
        </div>
      </section>
    </div>
    <footer id="footer">
      <section class="container">
        <div class="row">
        </div>
      </section>
    </footer>
    <!-- Site microtemplating -->
    <script id="spinner" type="text/html">
      <div id="circularG" class="center-block spinner">
        <div id="circularG_1" class="circularG">
        </div>
        <div id="circularG_2" class="circularG">
        </div>
        <div id="circularG_3" class="circularG">
        </div>
        <div id="circularG_4" class="circularG">
        </div>
        <div id="circularG_5" class="circularG">
        </div>
        <div id="circularG_6" class="circularG">
        </div>
        <div id="circularG_7" class="circularG">
        </div>
        <div id="circularG_8" class="circularG">
        </div>
      </div>
    </script>
    <script id="newsList" type="text/html">
      <div class="list-group">
      <% for( var i = 0, len = items.length; i < len; i++ ) { %>
        <a class="list-group-item" href="<%= items[ i ].url %>">
          <h4 class="list-group-item-heading"><%= items[ i ].title %></h4>
          <p class="list-group-item-text"><%= items[ i ].src %></p>
        </a>
      <% } %>
      </div>
    </script>
    <script id="newsItem" type="text/html">
      <a class="list-group-item" href="<%= item.url %>">
        <h4 class="list-group-item-heading"><%= item.title %></h4>
        <p class="list-group-item-text"><%= item.src %></p>
      </a>
    </script>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="public/js/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="public/js/bootstrap.min.js"></script>
    <script src="public/js/app.js"></script>
  </body>
</html>